<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Feedback Collection System</title>
     <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
     <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/form-validation.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="/js/jquery-3.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="module" src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="module" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
